<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>问题模板导入</title>
    <link rel="shortcut icon" href="../../img/favicon.ico"
          th:href="@{/img/favicon.ico}"/>
    <link rel="stylesheet" href="../../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../js/plugins/bootstrap-select/css/bootstrap-select.min.css"
          th:href="@{/js/plugins/bootstrap-select/css/bootstrap-select.min.css}">
    <link rel="stylesheet" href="../../js/plugins/layui/css/layui.css"
          th:href="@{/js/plugins/layui/css/layui.css}">
    <style>
        .col-xs-2 {
            text-align: center;
        }

        .col-xs-4 {
            text-align: center;
        }

        .container {
            padding-right: 5px;
            padding-left: 5px;
            margin-right: auto;
            margin-left: auto
        }

        .headline {
            font-size: 14px;
            text-align: center
        }

        .templateShow {
            top: 4px;
            height: 30px;
            width: 400px
        }

        #templateShowDefinite {
            position: relative;
            top: -3px;
        }
    </style>
</head>

<body>
<div class="container">
    <div class="panel">
        <div class="panel-body">
            <div class="form-horizontal">

                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="control-label col-xs-3"><p class="headline">选择导入的模板：</p></div>
                            <div class="col-xs-6">
                                <select id="templateShow" class="templateShow">
                                    <option value="default" selected="selected"></option>
                                </select>
                            </div>
                            <div class="col-xs-2 col-xs-offset-1">
                                <button id="templateShowDefinite" class="btn btn-md btn-success">确定</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="tabShow" class="panel-body"></div>

                <div id="buttonShow" hidden="hidden">
                    <div class="panel-body">
                        <div class="btn-group col-sm-offset-5">
                            <button id="submitDataBtn" class="btn btn-lg btn-success">确认</button>
                            <button id="cancelBtn" class="btn btn-lg btn-warning">取消</button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<script src="../../js/jquery.min.js"
        th:src="@{/js/jquery.min.js}"></script>
<script src="../../js/bootstrap.min.js"
        th:src="@{/js/bootstrap.min.js}"></script>
<script src="../../js/plugins/bootstrap-select/js/bootstrap-select.min.js"
        th:src="@{/js/plugins/bootstrap-select/js/bootstrap-select.min.js}"></script>
<script src="../../js/plugins/bootstrap-select/js/i18n/defaults-zh_CN.min.js"
        th:src="@{/js/plugins/bootstrap-select/js/i18n/defaults-zh_CN.min.js}"></script>
<script src="../../js/plugins/layui/layui.js"
        th:src="@{/js/plugins/layui/layui.js}"></script>
<script src="../../js/myJs/responseAnalyze.js"
        th:src="@{/js/myJs/responseAnalyze.js}"></script>


<!-- 选择模板 -->
<script>
    // 选择模板
    $(function () {
        $.ajax({
            type: "get",
            // 后端路径
            url: '../questionnaireManage/listAllTemplate',
            dataType: "json",
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    var $option = '<option value= ' + data[i].questionnaireId + '>' + data[i].questionnaireTitle + '</option>';
                    $("#templateShow").append($option);
                }
            },
            error: function (data) {
                console.error("出错了，返回的data：" + data);
            }
        });
    });
</script>


<!-- 加载题目页面 -->
<script>
    var databack = 0;
    var dataList = new Array();
    var i = 0;
    var num = 0;
    var questionsBack = [];
    $('#templateShowDefinite').on('click', function () {
        var questionnaireId = $('#templateShow option:selected').val();
        $("#tabShow").empty();
        getQuestionsList(questionnaireId);
        console.log(databack);
    })

    function callbackdata() {
        $(document).ready(function () {
            $(".panel-title").find("input").each(function () {
                if ($(this).is(':checked')) {
                    console.log($(this).val());
                    dataList.push($(this).val());
                    num++;
                }
            });
            console.log(dataList);
            console.log(num);
            for (var i = 0; i < num; i++) {
                var questionTypeBack = databack.questions[dataList[i]].questionType;
                var questionContextBack = databack.questions[dataList[i]].questionContext;
                var unitdata = {
                    questionType: questionTypeBack,
                    questionContext: questionContextBack,
                    options: []
                }
                for (var j = 0; j < databack.questions[dataList[i]].options.length; j++) {
                    var unitoption = databack.questions[dataList[i]].options[j];
                    unitdata.options.push(unitoption);
                }
                questionsBack.push(unitdata);
            }
            console.log(questionsBack);
        })
        return questionsBack;
    }

    function getQuestionsList(questionnaireId) {
        $.ajax({
            type: "post",
            url: '../questionnaireManage/displayTemplate/' + questionnaireId,
            async: false,
            data: {
                'questionnaireId': questionnaireId
            },
            dataType: "json",
            success:
                function (data) {
                    console.log(questionnaireId);
                    console.log('successful');
                    databack = data;
                    for (var i = 0; i < data.questions.length; i++) {
                        var k = i + 1;
                        switch (data.questions[i].questionType) {
                            case '单选题' :
                                $("#tabShow").append('<div class="panel-default" id="panel-default' + i + '"></div>');
                                $("#panel-default" + i).append("<div class='panel-heading' id='panel-heading" + i + "'></div>");
                                $("#panel-heading" + i).append("<div class='panel-title' id='panel-title" + i + "'></div>");
                                $("#panel-title" + i).append("<input type='checkbox' value='" + i + "'>");
                                $("#panel-title" + i).append("  第 <span>" + k + "</span> 题：");
                                $("#panel-title" + i).append("<span>" + data.questions[i].questionContext + "</span>");
                                $("#panel-default" + i).append("<div class='panel-body' id='panel-body" + i + "'></div>");
                                $("#panel-body" + i).append("<div class='form-inline' id='form-inline" + i + "'></div>");
                                $("#form-inline" + i).append("<div class='form-group' id='form-group" + i + "'></div>");
                                for (var j = 0; j < data.questions[i].options.length; j++) {
                                    $("#form-group" + i).append("<input class='form-control' type='radio'/>");
                                    $("#form-group" + i).append("<label>" + data.questions[i].options[j].option + "</label>")
                                }
                                break;
                            case '多选题' :
                                $("#tabShow").append('<div class="panel-default" id="panel-default' + i + '"></div>');
                                $("#panel-default" + i).append("<div class='panel-heading' id='panel-heading" + i + "'></div>");
                                $("#panel-heading" + i).append("<div class='panel-title' id='panel-title" + i + "'></div>");
                                $("#panel-title" + i).append("<input type='checkbox' value='" + i + "'>");
                                $("#panel-title" + i).append("  第 <span>" + k + "</span> 题：");
                                $("#panel-title" + i).append("<span>" + data.questions[i].questionContext + "</span>");
                                $("#panel-default" + i).append("<div class='panel-body' id='panel-body" + i + "'></div>");
                                $("#panel-body" + i).append("<div class='form-inline' id='form-inline" + i + "'></div>");
                                $("#form-inline" + i).append("<div class='form-group' id='form-group" + i + "'></div>");
                                for (var j = 0; j < data.questions[i].options.length; j++) {
                                    $("#form-group" + i).append("<input class='form-control' type='checkbox'/>");
                                    $("#form-group" + i).append("<label>" + data.questions[i].options[j].option + "</label>")
                                }
                                break;
                            case '单项填空题' :
                                $("#tabShow").append('<div class="panel-default" id="panel-default' + i + '"></div>');
                                $("#panel-default" + i).append("<div class='panel-heading' id='panel-heading" + i + "'></div>");
                                $("#panel-heading" + i).append("<div class='panel-title' id='panel-title" + i + "'></div>");
                                $("#panel-title" + i).append("<input type='checkbox' value='" + i + "'>");
                                $("#panel-title" + i).append("  第 <span>" + k + "</span> 题：");
                                $("#panel-title" + i).append("<span>" + data.questions[i].questionContext + "</span>");
                                $("#panel-default" + i).append("<div class='panel-body' id='panel-body" + i + "'></div>");
                                $("#panel-body" + i).append("<div class='form-group' id='form-group" + i + "'></div>");
                                $("#form-group" + i).append("<input class='form-control' disabled/>");
                                break;
                            case '多项填空题' :
                                $("#tabShow").append('<div class="panel-default" id="panel-default' + i + '"></div>');
                                $("#panel-default" + i).append("<div class='panel-heading' id='panel-heading" + i + "'></div>");
                                $("#panel-heading" + i).append("<div class='panel-title' id='panel-title" + i + "'></div>");
                                $("#panel-title" + i).append("<input type='checkbox' value='" + i + "'>");
                                $("#panel-title" + i).append("  第 <span>" + k + "</span> 题：");
                                $("#panel-title" + i).append("<span>" + data.questions[i].questionContext + "</span>");
                                $("#panel-default" + i).append("<div class='panel-body' id='panel-body" + i + "'></div>");
                                $("#panel-body" + i).append("<div class='form-inline' id='form-inline" + i + "'></div>");
                                $("#form-inline" + i).append("<div class='form-group' id='form-group" + i + "'></div>");
                                for (var j = 0; j < data.questions[i].options.length; j++) {
                                    $("#form-group" + i).append("<div style='size: auto'><label>_______</label><label>" + data.questions[i].options[j].option + "</label></div>")
                                }
                                break;
                            case '图片单选题' :
                                $("#tabShow").append('<div class="panel-default" id="panel-default' + i + '"></div>');
                                $("#panel-default" + i).append("<div class='panel-heading' id='panel-heading" + i + "'></div>");
                                $("#panel-heading" + i).append("<div class='panel-title' id='panel-title" + i + "'></div>");
                                $("#panel-title" + i).append("<input type='checkbox' value='" + i + "'>");
                                $("#panel-title" + i).append("  第 <span>" + k + "</span> 题：");
                                $("#panel-title" + i).append("<span>" + data.questions[i].questionContext + "</span>");
                                $("#panel-default" + i).append("<div class='panel-body' id='panel-body" + i + "'></div>");
                                $("#panel-body" + i).append("<div class='form-horizontal row' id='form-horizontal" + i + "'></div>");
                                $("#form-horizontal" + i).append("<div class='form-group col-md-3 col-xs-3 col-sm-3' id='form-group" + i + "'></div>");
                                for (var j = 0; j < data.questions[i].options.length; j++) {
                                    $("#form-group" + i).append("<input style='margin: 5% 45%; vertical-align: middle!important;border: none!important;'name='' value='" + j + "' type='radio'/>");
                                    $("#form-group" + i).append("<form action='#' class='dropzone'><div class='dz-preview dz-processing dz-image-preview dz-success dz-complete'><div class='dz-image'><img style='width: inherit;height: inherit;' src='" + data.questions[i].options[j].option + "'/></div></div></form>");
                                }
                                break;
                            case '图片多选题' :
                                $("#tabShow").append('<div class="panel-default" id="panel-default' + i + '"></div>');
                                $("#panel-default" + i).append("<div class='panel-heading' id='panel-heading" + i + "'></div>");
                                $("#panel-heading" + i).append("<div class='panel-title' id='panel-title" + i + "'></div>");
                                $("#panel-title" + i).append("<input type='checkbox' value='" + i + "'>");
                                $("#panel-title" + i).append("  第 <span>" + k + "</span> 题：");
                                $("#panel-title" + i).append("<span>" + data.questions[i].questionContext + "</span>");
                                $("#panel-default" + i).append("<div class='panel-body' id='panel-body" + i + "'></div>");
                                $("#panel-body" + i).append("<div class='form-horizontal row' id='form-horizontal" + i + "'></div>");
                                $("#form-horizontal" + i).append("<div class='form-group col-md-3 col-xs-3 col-sm-3' id='form-group" + i + "'></div>");
                                for (var j = 0; j < data.questions[i].options.length; j++) {
                                    $("#form-group" + i).append("<input style='margin: 5% 45%; vertical-align: middle!important;border: none!important;'name='' value='" + j + "' type='checkbox'/>");
                                    $("#form-group" + i).append("<form action='#' class='dropzone'><div class='dz-preview dz-processing dz-image-preview dz-success dz-complete'><div class='dz-image'><img style='width: inherit;height: inherit;' src='" + data.questions[i].options[j].option + "'/></div></div></form>");
                                }
                                break;
                            case '时间题' :
                                $("#tabShow").append('<div class="panel-default" id="panel-default' + i + '"></div>');
                                $("#panel-default" + i).append("<div class='panel-heading' id='panel-heading" + i + "'></div>");
                                $("#panel-heading" + i).append("<div class='panel-title' id='panel-title" + i + "'></div>");
                                $("#panel-title" + i).append("<input type='checkbox' value='" + i + "'>");
                                $("#panel-title" + i).append("  第 <span>" + k + "</span> 题：");
                                $("#panel-title" + i).append("<span>" + data.questions[i].questionContext + "</span>");
                                $("#panel-default" + i).append("<div class='panel-body' id='panel-body" + i + "'></div>");
                                $("#panel-body" + i).append("<div class='form-inline' id='form-inline" + i + "'></div>");
                                $("#form-inline" + i).append("<div class='form-group' id='form-group" + i + "'></div>");
                                for (var j = 0; j < data.questions[i].options.length; j++) {
                                    $("#form-group" + i).append("<input type='date' class='form-control' placeholder='点击选择时间'/>")
                                }
                                break;
                            case '简答题':
                                $("#tabShow").append('<div class="panel-default" id="panel-default' + i + '"></div>');
                                $("#panel-default" + i).append("<div class='panel-heading' id='panel-heading" + i + "'></div>");
                                $("#panel-heading" + i).append("<div class='panel-title' id='panel-title" + i + "'></div>");
                                $("#panel-title" + i).append("<input type='checkbox' value='" + i + "'>");
                                $("#panel-title" + i).append("  第 <span>" + k + "</span> 题：");
                                $("#panel-title" + i).append("<span>" + data.questions[i].questionContext + "</span>");
                                $("#panel-default" + i).append("<div class='panel-body' id='panel-body" + i + "'></div>");
                                $("#panel-body" + i).append("<div class='form-group' id='form-group" + i + "'></div>");
                                $("#form-group" + i).append("<input class='form-control' disabled/>");
                                break;
                            case '图片上传':
                                $("#tabShow").append('<div class="panel-default" id="panel-default' + i + '"></div>');
                                $("#panel-default" + i).append("<div class='panel-heading' id='panel-heading" + i + "'></div>");
                                $("#panel-heading" + i).append("<div class='panel-title' id='panel-title" + i + "'></div>");
                                $("#panel-title" + i).append("<input type='checkbox' value='" + i + "'>");
                                $("#panel-title" + i).append("  第 <span>" + k + "</span> 题：");
                                $("#panel-title" + i).append("<span>" + data.questions[i].questionContext + "</span>");
                                $("#panel-default" + i).append("<div class='panel-body' id='panel-body" + i + "'></div>");
                                $("#panel-body" + i).append("<div class='form-group' id='form-group" + i + "'></div>");
                                $("#form-group" + i).append("<img width='200px' height='150px' th:width='200px' th:height='150px' src='../../img/upload.jpg'/>");
                                break;
                            case '多媒体上传':
                                $("#tabShow").append('<div class="panel-default" id="panel-default' + i + '"></div>');
                                $("#panel-default" + i).append("<div class='panel-heading' id='panel-heading" + i + "'></div>");
                                $("#panel-heading" + i).append("<div class='panel-title' id='panel-title" + i + "'></div>");
                                $("#panel-title" + i).append("<input type='checkbox' value='" + i + "'>");
                                $("#panel-title" + i).append("  第 <span>" + k + "</span> 题：");
                                $("#panel-title" + i).append("<span>" + data.questions[i].questionContext + "</span>");
                                $("#panel-default" + i).append("<div class='panel-body' id='panel-body" + i + "'></div>");
                                $("#panel-body" + i).append("<div class='form-group' id='form-group" + i + "'></div>");
                                $("#form-group" + i).append("<img width='200px' height='150px' th:width='200px' th:height='150px' src='../../img/upload.jpg'/>");
                                break;
                            case '混合单选题' :
                                $("#tabShow").append('<div class="panel-default" id="panel-default' + i + '"></div>');
                                $("#panel-default" + i).append("<div class='panel-heading' id='panel-heading" + i + "'></div>");
                                $("#panel-heading" + i).append("<div class='panel-title' id='panel-title" + i + "'></div>");
                                $("#panel-title" + i).append("<input type='checkbox' value='" + i + "'>");
                                $("#panel-title" + i).append("  第 <span>" + k + "</span> 题：");
                                $("#panel-title" + i).append("<span>" + data.questions[i].questionContext + "</span>");
                                $("#panel-default" + i).append("<div class='panel-body' id='panel-body" + i + "'></div>");
                                $("#panel-body" + i).append("<div class='form-group' id='panel-group" + i + "'></div>");
                                $("#form-inline" + i).append("<div class='form-group' id='form-group" + i + "'></div>");
                                for (var j = 0; j < data.questions[i].options.length; j++) {
                                    $("form-group" + i).append("<input class='form-control' type='radio' /><label>" + data.questions[i].options[j].option + "</label>")
                                }
                                $("form-group" + i).append("<input class='form-control' type='radio' /><label>" + "其他" + "</label>")
                                break;
                        }
                    }
                }
        })
    }
</script>

</body>

</html>
