<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>问题模板导入</title>
    <link rel="shortcut icon" href="../../img/favicon.ico"/>
    <link rel="stylesheet" href="../../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../js/plugins/bootstrap-select/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="../../js/plugins/layui/css/layui.css">
    <style>
        .col-xs-2 {
            text-align: center;
        }
        .col-xs-4 {
            text-align: center;
        }
        .container {
            padding-right: 5px;
            padding-left: 5px;
            margin-right: auto;
            margin-left: auto
        }
        .headline{
            font-size: 14px;
            text-align: center
        }
        .templateShow{
            top: 4px;
            height: 30px;
            width: 400px
        }
        #templateShowDefinite{
            position: relative;
            top: -3px;
        }

    </style>
</head>

<body>
<div class="container" >
    <div class="panel">
        <div class="panel-body">
            <div class="form-horizontal">

                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="control-label col-xs-3"><p class="headline">选择导入的模板：</p></div>
                            <div class="col-xs-6">
                                <select id="templateShow" class="templateShow">
                                    <option value="default" selected="selected"></option>
                                    <option value="test2">包虫病流行情况调查包虫病患者个案调查表包虫病流行情况</option>
                                </select>
                            </div>
                            <div class="col-xs-2 col-xs-offset-1">
                                <button id="templateShowDefinite" class="btn btn-md btn-success">确定</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="show" hidden>
                    <div class="panel-body">
                        <div class="btn-group col-sm-offset-5">
                            <button id="submitDataBtn" class="btn btn-lg btn-success">确认</button>
                            <button id="cancelBtn" class="btn btn-lg btn-warning">取消</button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<script src="../../js/jquery.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/plugins/bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="../../js/plugins/bootstrap-select/js/i18n/defaults-zh_CN.min.js"></script>

<script src="../../js/plugins/layui/layui.js"></script>
<script src="../../js/myJs/responseAnalyze.js"></script>



<!-- 选择模板 -->
<script>
    $(function () {
        $.ajax({
            type: "get",
            // 后端路径
            //url: 
            dataType: "json",
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    var $option = '<option>' + data[i] + '</option>';
                    $("#templateShow").append($option);
                }
            },
            error: function (data) {
                console.error("出错了，返回的data：" + data);
            }
        });
    });
</script>

<!-- 加载题目页面 -->
<script>
    $('#templateShowDefinite').on('click',function(){
        var template = $('#templateShow option:selected').val();
        getQuestionsList(template);
    })

    function getQuestionsList(template)
    {
        $.ajax({
            type:"get",
            //url:未填
            data:{
                'template':template
            },
            dataType:"json",
            success:
                function(data){
                    
                }
        })
    }
</script>

<script>
    /*提交数据*/
    $('#submitDataBtn').on('click',function(){
        var newUnitInfo = {};
        //获取单位信息
        var unitName = $('#unitName').val();
        var unitCode = $('#unitCode').val();
        var unitLevel = $('#level').val();
        var unitProvince = $('#province').val();
        var unitCity = $('#city').val();
        var unitAddress = $('#address').val();
        if(unitName == 'NULL')
        {
            layui.use('layer', function () {
                var layer = layui.layer;
                layer.msg("单位名称不得为空!", function () {
                });
            });
            return;
        }
        if(unitName == 'NULL')
        {
            layui.use('layer', function () {
                var layer = layui.layer;
                layer.msg("单位名称不得为空!", function () {
                });
            });
            return;
        }
        newUnitInfo.unitName = unitName;
        newUnitInfo.unitCode = unitCode
        newUnitInfo.unitLevel = unitLevel;
        newUnitInfo.unitProvince = unitProvince;
        newUnitInfo.unitCity = unitCity;
        newUnitInfo.address = unitAddress;
        var AddUnitUrl = '/userManage/insertUnit';
        layui.use('layer', function () {
            var layer = layui.layer;
            $.ajax({
                url: AddUnitUrl,
                contentType: "application/json;charset=utf-8",
                type: 'post',
                dataType: 'json',
                data: JSON.stringify(newUnitInfo),
                success: function (data) {
                    if (200 === data.code) {
                        layer.msg('操作成功，2秒后关闭窗口...', {
                            icon: 1,
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        }, function () {
                            //修改数据成功后、刷新父页面中table数据
                            parent.refreshTable();
                            closeLayer();
                        });
                    }
                    dealGlobalError(data);
                },
                error: function (data) {
                    layer.msg('出现错误了，刷新试试！');
                    console.error(data);
                }
            });
        });
    })
    /*取消按钮*/
    $('#cancelBtn').on('click', function () {
        layui.use('layer', closeLayer());
    });
    /**
     * 关闭 layer 层
     */
    function closeLayer() {
        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
        parent.layer.close(index); //再执行关闭
    }
</script>
</body>

</html>