<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>问题模板导入</title>
    <link rel="shortcut icon" href="../../img/favicon.ico"/>
    <link rel="stylesheet" href="../../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../js/plugins/bootstrap-select/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="../../js/plugins/layui/css/layui.css">
    <style>
        .col-xs-2 {
            text-align: center;
        }

        .col-xs-4 {
            text-align: center;
        }

        .container {
            padding-right: 5px;
            padding-left: 5px;
            margin-right: auto;
            margin-left: auto
        }

        .headline {
            font-size: 14px;
            text-align: center
        }

        .templateShow {
            top: 4px;
            height: 30px;
            width: 400px
        }

        #templateShowDefinite {
            position: relative;
            top: -3px;
        }

    </style>
</head>

<body>
<div class="container">
    <div class="panel">
        <div class="panel-body">
            <div class="form-horizontal">

                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="control-label col-xs-3"><p class="headline">选择导入的模板：</p></div>
                            <div class="col-xs-6">
                                <select id="templateShow" class="templateShow">
                                    <option value="default" selected="selected"></option>
                                </select>
                            </div>
                            <div class="col-xs-2 col-xs-offset-1">
                                <button id="templateShowDefinite" class="btn btn-md btn-success">确定</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="tabShow" class="panel-body"></div>

                <div>
                    <div class="panel-body">
                        <div class="btn-group col-sm-offset-5">
                            <button id="submitDataBtn" class="btn btn-lg btn-success">确认</button>
                            <button id="cancelBtn" class="btn btn-lg btn-warning">取消</button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<script src="../../js/jquery.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/plugins/bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="../../js/plugins/bootstrap-select/js/i18n/defaults-zh_CN.min.js"></script>

<script src="../../js/plugins/layui/layui.js"></script>
<script src="../../js/myJs/responseAnalyze.js"></script>



<!-- 测试
<script>
    var i = 1;
    $('#templateShowDefinite').on('click',function(){
        $("#tabShow").append('<div class="panel-default" id="panel-default' + i + '"></div>');
        $("#panel-default"+ i).append("<div class='panel-heading' id='panel-heading" + i + "'></div>");
        $("#panel-heading"+i).append("<div class='panel-title' id='panel-title" + i + "'></div>")
        $("#panel-title"+i).append("<input type='checkbox'val='"+ "1" + "'>");
        $("#panel-title"+i).append("  第<span>"+ i + "</span> 题：");
        $("#panel-title"+i).append("<span>"+ "data.quetions[i].questionContext" + "</span>");
        $("#panel-default"+i).append("<div class='panel-body' id='panel-body" + i + "'></div>");
        $("#panel-body"+i).append("<div class='form-group' id='panel-group" + i + "'></div>");
        $("#panel-group"+i).append("<input class='form-control' disabled/>");
    })
</script> -->

<!-- 选择模板 -->
<script>
    // 选择模板
    $(function () {
        $.ajax({
            type: "get",
            // 后端路径
            url: '/questionnaireManage/listAllTemplate',
            dataType: "json",
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    var $option = '<option value= ' + data[i].questionnaireId + '>' + data[i].questionnaireTitle + '</option>';
                    $("#templateShow").append($option);
                }
            },
            error: function (data) {
                console.error("出错了，返回的data：" + data);
            }
        });
    });
</script>


<!-- 加载题目页面 -->
<script>
    $('#templateShowDefinite').on('click', function () {
        var questionnaireId = $('#templateShow option:selected').val();
        $("#tabShow").empty();
        getQuestionsList(questionnaireId);
    })

    function getQuestionsList(questionnaireId) {
        $.ajax({
            type: "post",
            url: '/questionnaireManage/displayTemplate/' + questionnaireId,
            data: {
                'questionnaireId': questionnaireId
            },
            dataType: "json",
            success:
                function (data) {
                    console.log(questionnaireId);
                    console.log('successful');
                    console.log(data);
                    for (var i = 0 ; i < data.questions.length; i++) {
                        var k = i + 1;
                        switch (data.questions[i].questionType) {
                            
                            case '单选题' :
                                $("#tabShow").append('<div class="panel-default" id="panel-default' + i + '"></div>');
                                $("#panel-default"+ i).append("<div class='panel-heading' id='panel-heading" + i + "'></div>");
                                $("#panel-heading"+i).append("<div class='panel-title' id='panel-title" + i + "'></div>");
                                $("#panel-title"+i).append("<input type='checkbox' val='" + data.questions[i].questionId + "'>" );
                                $("#panel-title"+i).append("  第 <span>"+ k + "</span> 题：");
                                $("#panel-title"+i).append("<span>"+ data.questions[i].questionContext + "</span>");
                                $("#panel-default"+i).append("<div class='panel-body' id='panel-body" + i + "'></div>");
                                $("#panel-body" +i).append("<div class='form-inline' id='form-inline" + i + "'></div>");
                                $("#form-inline"+i).append("<div class='form-group' id='form-group" + i + "'></div>");
                                for(var j = 0;j< data.questions[i].options.length; j++)
                                {
                                    $("#form-group"+i).append("<input class='form-control' type='radio'/>");
                                    $("#form-group"+i).append("<label>" + data.questions[i].options[j].option + "</label>")
                                } 
                                break;

                            case '多选题' :
                                $("#tabShow").append('<div class="panel-default" id="panel-default' + i + '"></div>');
                                $("#panel-default"+ i).append("<div class='panel-heading' id='panel-heading" + i + "'></div>");
                                $("#panel-heading"+i).append("<div class='panel-title' id='panel-title" + i + "'></div>");
                                $("#panel-title"+i).append("<input type='checkbox' val='" + data.questions[i].questionId + "'>" );
                                $("#panel-title"+i).append("  第 <span>"+ k + "</span> 题：");
                                $("#panel-title"+i).append("<span>"+ data.questions[i].questionContext + "</span>");
                                $("#panel-default"+i).append("<div class='panel-body' id='panel-body" + i + "'></div>");
                                $("#panel-body" +i).append("<div class='form-inline' id='form-inline" + i + "'></div>");
                                $("#form-inline"+i).append("<div class='form-group' id='form-group" + i + "'></div>");
                                for(var j = 0; j< data.questions[i].options.length; j++)
                                {
                                    $("#form-group"+i).append("<input class='form-control' type='checkbox'/>");
                                    $("#form-group"+i).append("<label>" + data.questions[i].options[j].option + "</label>")
                                } 
                                break;
                            
                            case '单项填空题' :
                                $("#tabShow").append('<div class="panel-default" id="panel-default' + i + '"></div>');
                                $("#panel-default"+ i).append("<div class='panel-heading' id='panel-heading" + i + "'></div>");
                                $("#panel-heading"+i).append("<div class='panel-title' id='panel-title" + i + "'></div>");
                                $("#panel-title"+i).append("<input type='checkbox' val='" + data.questions[i].questionId + "'>" );
                                $("#panel-title"+i).append("  第 <span>"+ k + "</span> 题：");
                                $("#panel-title"+i).append("<span>"+ data.questions[i].questionContext + "</span>");
                                $("#panel-default"+i).append("<div class='panel-body' id='panel-body" + i + "'></div>");
                                $("#panel-body"+i).append("<div class='form-group' id='form-group" + i + "'></div>");
                                $("#form-group"+i).append("<input class='form-control' disabled/>");
                                break;
                            
                            case '多项填空题' :
                                $("#tabShow").append('<div class="panel-default" id="panel-default' + i + '"></div>');
                                $("#panel-default"+ i).append("<div class='panel-heading' id='panel-heading" + i + "'></div>");
                                $("#panel-heading"+i).append("<div class='panel-title' id='panel-title" + i + "'></div>");
                                $("#panel-title"+i).append("<input type='checkbox' val='" + data.questions[i].questionId + "'>" );
                                $("#panel-title"+i).append("  第 <span>"+ k + "</span> 题：");
                                $("#panel-title"+i).append("<span>"+ data.questions[i].questionContext + "</span>");
                                $("#panel-default"+i).append("<div class='panel-body' id='panel-body" + i + "'></div>");
                                $("#panel-body" +i).append("<div class='form-inline' id='form-inline" + i + "'></div>");
                                $("#form-inline"+i).append("<div class='form-group' id='form-group" + i + "'></div>");
                                for(var j = 0;j<data.questions[i].options.length;j++)
                                {
                                    $("#form-group"+i).append("<div style='size: auto'><label>_______</label><label>" + data.questions[i].options[j].option+ "</label></div>")
                                }
                                break;

                            case '图片单选题' :
                                $("#tabShow").append('<div class="panel-default" id="panel-default' + i + '"></div>');
                                $("#panel-default"+ i).append("<div class='panel-heading' id='panel-heading" + i + "'></div>");
                                $("#panel-heading"+i).append("<div class='panel-title' id='panel-title" + i + "'></div>");
                                $("#panel-title"+i).append("<input type='checkbox' val='" + data.questions[i].questionId + "'>" );
                                $("#panel-title"+i).append("  第 <span>"+ k + "</span> 题：");
                                $("#panel-title"+i).append("<span>"+ data.questions[i].questionContext + "</span>");
                                $("#panel-default"+i).append("<div class='panel-body' id='panel-body" + i + "'></div>");
                                $("#panel-body"+i).append("<div class='form-horizontal row' id='form-horizontal" + i + "'></div>");
                                $("#form-horizontal"+i).append("<div class='form-group col-md-3 col-xs-3 col-sm-3' id='form-group" + i + "'></div>");
                                for(var j = 0;j<data.questions[i].options.length;j++)
                                {
                                    $("#form-group"+i).append("<input style='margin: 5% 45%; vertical-align: middle!important;border: none!important;'name='' value='"+ j +"' type='radio'/>");
                                    $("#form-group"+i).append("<form action='#' class='dropzone'><div class='dz-preview dz-processing dz-image-preview dz-success dz-complete'><div class='dz-image'><img style='width: inherit;height: inherit;' src='"+ data.questions[i].options[j].option+ "'/></div></div></form>");
                                }
                                break;
                                
                            case '图片多选题' :
                                $("#tabShow").append('<div class="panel-default" id="panel-default' + i + '"></div>');
                                $("#panel-default"+ i).append("<div class='panel-heading' id='panel-heading" + i + "'></div>");
                                $("#panel-heading"+i).append("<div class='panel-title' id='panel-title" + i + "'></div>");
                                $("#panel-title"+i).append("<input type='checkbox' val='" + data.questions[i].questionId + "'>" );
                                $("#panel-title"+i).append("  第 <span>"+ k + "</span> 题：");
                                $("#panel-title"+i).append("<span>"+ data.questions[i].questionContext + "</span>");
                                $("#panel-default"+i).append("<div class='panel-body' id='panel-body" + i + "'></div>");
                                $("#panel-body"+i).append("<div class='form-horizontal row' id='form-horizontal" + i + "'></div>");
                                $("#form-horizontal"+i).append("<div class='form-group col-md-3 col-xs-3 col-sm-3' id='form-group" + i + "'></div>");
                                for(var j = 0;j<data.questions[i].options.length;j++)
                                {
                                    $("#form-group"+i).append("<input style='margin: 5% 45%; vertical-align: middle!important;border: none!important;'name='' value='"+ j +"' type='checkbox'/>");
                                    $("#form-group"+i).append("<form action='#' class='dropzone'><div class='dz-preview dz-processing dz-image-preview dz-success dz-complete'><div class='dz-image'><img style='width: inherit;height: inherit;' src='"+ data.questions[i].options[j].option+ "'/></div></div></form>");
                                }
                                break;

                            case '时间题' :
                                $("#tabShow").append('<div class="panel-default" id="panel-default' + i + '"></div>');
                                $("#panel-default"+ i).append("<div class='panel-heading' id='panel-heading" + i + "'></div>");
                                $("#panel-heading"+i).append("<div class='panel-title' id='panel-title" + i + "'></div>");
                                $("#panel-title"+i).append("<input type='checkbox' val='" + data.questions[i].questionId + "'>" );
                                $("#panel-title"+i).append("  第 <span>"+ k + "</span> 题：");
                                $("#panel-title"+i).append("<span>"+ data.questions[i].questionContext + "</span>");
                                $("#panel-default"+i).append("<div class='panel-body' id='panel-body" + i + "'></div>");
                                $("#panel-body" +i).append("<div class='form-inline' id='form-inline" + i + "'></div>");
                                $("#form-inline"+i).append("<div class='form-group' id='form-group" + i + "'></div>");
                                for(var j = 0;j<data.questions[i].options.length;j++)
                                {
                                    $("#form-group"+i).append("<input type='date' class='form-control' placeholder='点击选择时间'/>")
                                }
                                break;

                            case '简答题':
                                $("#tabShow").append('<div class="panel-default" id="panel-default' + i + '"></div>');
                                $("#panel-default"+ i).append("<div class='panel-heading' id='panel-heading" + i + "'></div>");
                                $("#panel-heading"+i).append("<div class='panel-title' id='panel-title" + i + "'></div>");
                                $("#panel-title"+i).append("<input type='checkbox' val='" + data.questions[i].questionId + "'>" );
                                $("#panel-title"+i).append("  第 <span>"+ k + "</span> 题：");
                                $("#panel-title"+i).append("<span>"+ data.questions[i].questionContext + "</span>");
                                $("#panel-default"+i).append("<div class='panel-body' id='panel-body" + i + "'></div>");
                                $("#panel-body"+i).append("<div class='form-group' id='form-group" + i + "'></div>");
                                $("#form-group"+i).append("<input class='form-control' disabled/>");
                                break;

                            case '图片上传题':
                                $("#tabShow").append('<div class="panel-default" id="panel-default' + i + '"></div>');
                                $("#panel-default"+ i).append("<div class='panel-heading' id='panel-heading" + i + "'></div>");
                                $("#panel-heading"+i).append("<div class='panel-title' id='panel-title" + i + "'></div>");
                                $("#panel-title"+i).append("<input type='checkbox' val='" + data.questions[i].questionId + "'>" );
                                $("#panel-title"+i).append("  第 <span>"+ k + "</span> 题：");
                                $("#panel-title"+i).append("<span>"+ data.questions[i].questionContext + "</span>");
                                $("#panel-default"+i).append("<div class='panel-body' id='panel-body" + i + "'></div>");
                                $("#panel-body"+i).append("<div class='form-group' id='form-group" + i + "'></div>");
                                $("#form-group"+i).append("<img width='200px' height='150px' th:width='200px' th:height='150px' src='../../img/upload.jpg'/>");
                                break;
                            
                            case '多媒体上传':
                                $("#tabShow").append('<div class="panel-default" id="panel-default' + i + '"></div>');
                                $("#panel-default"+ i).append("<div class='panel-heading' id='panel-heading" + i + "'></div>");
                                $("#panel-heading"+i).append("<div class='panel-title' id='panel-title" + i + "'></div>");
                                $("#panel-title"+i).append("<input type='checkbox' val='" + data.questions[i].questionId + "'>" );
                                $("#panel-title"+i).append("  第 <span>"+ k + "</span> 题：");
                                $("#panel-title"+i).append("<span>"+ data.questions[i].questionContext + "</span>");
                                $("#panel-default"+i).append("<div class='panel-body' id='panel-body" + i + "'></div>");
                                $("#panel-body"+i).append("<div class='form-group' id='form-group" + i + "'></div>");
                                $("#form-group"+i).append("<img width='200px' height='150px' th:width='200px' th:height='150px' src='../../img/upload.jpg'/>");
                                break;

                            case '混合单选题' :
                            $("#tabShow").append('<div class="panel-default" id="panel-default' + i + '"></div>');
                                $("#panel-default"+ i).append("<div class='panel-heading' id='panel-heading" + i + "'></div>");
                                $("#panel-heading"+i).append("<div class='panel-title' id='panel-title" + i + "'></div>");
                                $("#panel-title"+i).append("<input type='checkbox' val='" + data.questions[i].questionId + "'>" );
                                $("#panel-title"+i).append("  第 <span>"+ k + "</span> 题：");
                                $("#panel-title"+i).append("<span>"+ data.questions[i].questionContext + "</span>");
                                $("#panel-default"+i).append("<div class='panel-body' id='panel-body" + i + "'></div>");
                                $("#panel-body"+i).append("<div class='form-group' id='form-group" + i + "'></div>");
                                for(var j = 0 ;j<data.questions[i].options.length;j++)
                                {
                                    $("#form-group"+i).append("<input class='form-control' type='radio' /><label>"+ data.questions[i].options[j].option+"</label>")
                                }
                                $("#form-group"+i).append("<input class='form-control' type='radio' /><label>"+ "其他" +"</label>")
                                break;

                        }
                    }

                }
        })
    }
</script>

<script>
    /*提交数据*/
    $('#submitDataBtn').on('click', function () {
        var newUnitInfo = {};
        //获取单位信息
        var unitName = $('#unitName').val();
        var unitCode = $('#unitCode').val();
        var unitLevel = $('#level').val();
        var unitProvince = $('#province').val();
        var unitCity = $('#city').val();
        var unitAddress = $('#address').val();
        if (unitName == 'NULL') {
            layui.use('layer', function () {
                var layer = layui.layer;
                layer.msg("单位名称不得为空!", function () {
                });
            });
            return;
        }
        if (unitName == 'NULL') {
            layui.use('layer', function () {
                var layer = layui.layer;
                layer.msg("单位名称不得为空!", function () {
                });
            });
            return;
        }
        newUnitInfo.unitName = unitName;
        newUnitInfo.unitCode = unitCode
        newUnitInfo.unitLevel = unitLevel;
        newUnitInfo.unitProvince = unitProvince;
        newUnitInfo.unitCity = unitCity;
        newUnitInfo.address = unitAddress;
        var AddUnitUrl = '/userManage/insertUnit';
        layui.use('layer', function () {
            var layer = layui.layer;
            $.ajax({
                url: AddUnitUrl,
                contentType: "application/json;charset=utf-8",
                type: 'post',
                dataType: 'json',
                data: JSON.stringify(newUnitInfo),
                success: function (data) {
                    if (200 === data.code) {
                        layer.msg('操作成功，2秒后关闭窗口...', {
                            icon: 1,
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        }, function () {
                            //修改数据成功后、刷新父页面中table数据
                            parent.refreshTable();
                            closeLayer();
                        });
                    }
                    dealGlobalError(data);
                },
                error: function (data) {
                    layer.msg('出现错误了，刷新试试！');
                    console.error(data);
                }
            });
        });
    })
    /*取消按钮*/
    $('#cancelBtn').on('click', function () {
        layui.use('layer', closeLayer());
    });

    /**
     * 关闭 layer 层
     */
    function closeLayer() {
        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
        parent.layer.close(index); //再执行关闭
    }
</script>
</body>

</html>